<!-- Time Point Marker Options -->
<div class='row mt-1'>
  <div class='col-12 pr-0 pl-1'>
    <div class='card'>
      <div class="card-body pt-1 pb-2">
        <form>
          <!-- Time Point Marker Color Selection Options -->
          <div class='row'>
            <div class='col-6 pr-3 pl-1'>
              <span class='small'><strong>标记颜色</strong></span>
              <select class="custom-select" id="timepoint-color-select">
                <option value="red">红色</option>
                <option value="blue">蓝色</option>
                <option value="green">绿色</option>
                <option value="orange">橙色</option>
                <option value="purple">紫色</option>
                <option value="black">黑色</option>
                <option value="grey">灰色</option>
                <option value="yellow">黄色</option>
                <option value="brown">棕色</option>
                <option value="darkred">深红色</option>
                <option value="tomato">番茄红</option>
                <option value="magenta">洋红色</option>
                <option value="crimson">猩红色</option>
                <option value="salmon">鲑红色</option>
                <option value="firebrick">砖红色</option>
                <option value="navy">海军蓝</option>
                <option value="royalblue">宝蓝色</option>
                <option value="turquoise">青绿色</option>
                <option value="coral">珊瑚色</option>
                <option value="seagreen">海绿色</option>
                <option value="forestgreen">森林绿</option>
                <option value="olive">橄榄色</option>
                <option value="darkgreen">深绿色</option>
                <option value="darkorange">深橙色</option>
                <option value="violet">紫罗兰色</option>
                <option value="slategrey">石板灰</option>
                <option value="slateblue">石板蓝</option>
                <option value="darkgrey">深灰色</option>
                <option value="khaki">卡其色</option>
                <option value="tan">浅棕色</option>
              </select>
            </div>
            <div class='col-6 pr-3 pl-0'>
              <span class='small'><strong>标记线型</strong></span>
              <select class="custom-select" id="timepoint-marker-select">
                <option value="solid">实线</option>
                <option value="dash">虚线</option>
                <option value="dot">点线</option>
                <option value="longdash">长虚线</option>
                <option value="dashdot">点划线</option>
              </select>
            </div>
          </div>
          <div class='row mt-1'>
            <div class='col-6 pr-3 pl-1'>
              <label for="timepoint-width-slider" class='small mb-0'><strong>标记宽度</strong></label>
                <input id="timepoint-width-slider" type="text" class="slider" data-slider-responsive="true"/>
            </div>
            <div class='col-6 pr-2 pl-0'>
              <label for="timepoint-opacity-slider" class='small mb-0'><strong>标记不透明度</strong></label>
              <input id="timepoint-opacity-slider" type="text" class="slider" data-slider-responsive="true"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
